<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_text_id %>
    <%= f.number_field :original_text_id %>
  </div>

  <div class="field">
    <%= f.label :original_image_url %>
    <%= f.text_field :original_image_url %>
  </div>

  <div class="field">
    <%= f.label :text_working %>
    <%= f.text_field :text_working %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
