<div class="container-fluid">
<h1>「<%= @page.original_text.book_title %>」 <%= @page.page_no %>頁 の編集</h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-2">
<%= render 'pagelist', page: @page %>
</div>

<div class="col-xs-10">
<%# 底本のビュー %>
<%# <div style="overflow:scroll; height:300px; overflow-y:scroll"> %>
<div class="zoomer_wrapper zoomer_basic">
  <%= image_tag @page.original_image_url %>
</div>

<%# 編集エリア %>
<%= form_for(@page) do |f| %>
 <div class="field">
  <%= f.text_area :text_working, :size => "100x15" %>
 </div>
 <div class="actions">
  <%= f.submit %>
 </div>
<% end %>
</div>

</div><%# container-fluid %>
