<p id="notice"><%= notice %></p>

<div class="container-fluid">

<h1><%= @original_text.book_title %></h1>

<p>
  <strong>Card:</strong>
  <%= @original_text.card_id %>: <%= link_to @original_text.card.title, :controller => "cards", :action => "show", :id => @original_text.card_id %>
</p>

<p>
  <strong>Book title:</strong>
  <%= @original_text.book_title %>
</p>

<p>
  <strong>Book publisher:</strong>
  <%= @original_text.book_publisher %>
</p>

<p>
  <strong>Book publish year:</strong>
  <%= @original_text.book_publish_year %>
</p>

<p>
  <strong>Page list:</strong>
  <ul>
  <% @original_text.pages.each do |pg| %>
   <li><%= link_to pg.page_no, :controller => "pages", :action => "show", :id => pg.id %>: <%= pg.original_image_url %>
    [<%= link_to "編集", :controller => "pages", :action => "edit_text", :id => pg.id %>]
  <% end %>
</ul>
</p>

<%= link_to '編集へ', edit_original_text_path(@original_text) %> |
<%= link_to '底本一覧へ', original_texts_path %>

</div><%# container-fluid %>
